chaincodes/libros/vendor/
organizations/fabric-ca/anabelsegura/
organizations/fabric-ca/centroarte/
organizations/fabric-ca/ordererOrg/
organizations/ordererOrganizations/
organizations/peerOrganizations/
